.fr {
	float: right;
}
.tab-right {
	line-height: 3rem;
	width: 70%;
	text-align: center;
	background-color: #fff;
}
.tab-right li {
	border-bottom: 1px solid #e4dce4;
}
.tab-right li.current {
	color: #278bf8;
}

.tab-left {
	line-height: 3rem;
	width: 30%;
	text-align: center;
}
.tab-left li {
	border-bottom: 1px solid #f2f6f8;
}
.tab-left li.current {
	background-color: #fff;
	border-color: #e4dce4;
}
.modal-main {
	position:absolute;
	bottom:0;
	width:100%;
	height:auto;
	font-size:1rem;
	background:#fff;
	padding-bottom:1rem;
}
.main-header {
	height:3rem;
	line-height: 3rem;
	border-bottom:1px solid #eaeaea;
}
.main-header span:nth-of-type(1){
	position:absolute;
	left:2%;
}
.main-header span:nth-of-type(2) {
	position: absolute;
	left: 20%;
	right: 20%;
	font-size: 1.2rem;
	text-align: center;
}
.main-header span:nth-of-type(3) {
	position:absolute;
	right:2%;
	color:#278cf8;
}